<% content_for :css do %>
<style>
.help_container{
	width:75%;
	min-width:900px;
	min-height:600px;
	margin: 0px auto 0px;
	padding-top:100px;
}
</style>
<% end %>

<div class='extentfull'>
  <div class='help_container'>
  	<h2 style='color:#666'>HELP & DOCUMENTATION</h2>
  </div>
</div>