
@font-face {
    font-family: 'gotham_boldregular';
    src: url('./fonts/gotham-bold.eot');
    src: url('./fonts/gotham-bold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/gotham-bold.woff') format('woff'),
         url('./fonts/gotham-bold.ttf') format('truetype'),
         url('./fonts/gotham-bold.svg#gotham_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_bookregular';
    src: url('./fonts/gotham-book.eot');
    src: url('./fonts/gotham-book.eot?#iefix') format('embedded-opentype'),
         url('./fonts/gotham-book.woff') format('woff'),
         url('./fonts/gotham-book.ttf') format('truetype'),
         url('./fonts/gotham-book.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.trans{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out; 
	-o-transition: all 0.5s ease-in-out; 
	-ms-transition: all 0.5s ease-in-out; 
}

h3.group-title {
  margin: 0;
  background-color: rgb(145,145,145); 
  font-family: 'gotham_bookregular';
}

h3.group-title a {
  font-family: 'gotham_bookregular';
  background: url("sprite.png") 15px 8px no-repeat;
  display: block;
  padding: 8px 0 3px 8px;
  padding-left: 32px;
  margin: 0;
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  font-size:17px;
}
h3.open  { background: rgb(125,125,125); }
h3.open a { background-position: 13px -30px; }
h3 + div { padding: 10px; }