
@font-face {
    font-family: 'gotham_boldregular';
    src: url('./fonts/gotham-bold.eot');
    src: url('./fonts/gotham-bold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/gotham-bold.woff') format('woff'),
         url('./fonts/gotham-bold.ttf') format('truetype'),
         url('./fonts/gotham-bold.svg#gotham_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_bookregular';
    src: url('./fonts/gotham-book.eot');
    src: url('./fonts/gotham-book.eot?#iefix') format('embedded-opentype'),
         url('./fonts/gotham-book.woff') format('woff'),
         url('./fonts/gotham-book.ttf') format('truetype'),
         url('./fonts/gotham-book.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}